body{
  height: auto;
  touch-action: manipulation;
  font-family: 'Roboto', sans-serif;

}

html{
  overflow: hidden;
 
}

.translucent-mask{
  height: 95vh;
  overflow: hidden;
  margin: 0 auto;
  max-width: 600px;
  position: relative;
  background: black
}

.content-wrapper{
  margin: 0 auto;
  max-width: 600px;
}

.info-container{
  position: relative;
  padding-top: 2rem;
  margin: 0 auto;
  max-width: 600px;
  display: grid;
  grid-template-columns: 25% 50% 25%;
  z-index: -1;
}
.points{
  text-align: center;
  margin-bottom: 0.5rem;
}
.points-heading{
  text-align: right;
}

canvas{

  background-color: black;

}

.canvas-wrapper{  
  height: 95vh;
  position: relative;
  margin: 0 auto;
  max-width: 600px;
  display: grid;
  grid-template-columns: 25% 50% 25%;
  grid-template-rows: auto;
  grid-template-areas: 'hold well next';
  z-index: -1;
}
.well{
  width: auto;
  margin: 0 auto;
}

.well-wrapper{
  box-sizing: border-box;
  text-align: center;
  grid-area: well;
}

.next {
  width: auto;
  display: flex;
  align-content: flex-start;
  margin-right: auto;
  grid-area: next;
}
.hold {
  width: auto;
  margin-left: auto;
  grid-area: hold;
}


.start-menu,.pause-menu,.confirmation-menu,.options-menu,.game-over-menum,.controls-menu,.mobile-controls-menu,.desktop-controls-menu{
  background-color: #1865B5;
  position: absolute;
  border-radius: 2%;
  top: 35%;
  left: 10%;
  right: 10%;
  bottom: 30%;  
  margin: 0 auto;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.game-over-menu {
  display: none;
}


.options-menu{
  display: none;
}

.pause-menu{
  display: none;
}

.confirmation-menu{
  display: none;
}

.mobile-controls-menu,.desktop-controls-menu{
  display: none;
  top: 5%;
  left: 10%;
  right: 10%;
  bottom: 5%;  
}



.controls-menu{
  display: none;
}

.pause{
  display: none;
  position: absolute;
  border-radius: 2%;
  right: 8%;
  bottom: 5%; 
}

.pause-button {  
}

.menu-button{
  padding: 0.5rem;
  align-self: center;
  width: 80%;
  background-color: #3196f5;
  color: white;
  border: white solid 1px;
  border-radius: 2%;
}

.menu-button:hover{
  background-color: #63b0f8;
}

.menu-description{
  margin: 0;
  text-align: center;
  color: white;
}

.list-wrapper{
  color: white;
  margin: 0 auto;
  width: 90%;
}
.list-description{
  padding-left: 0;
  list-style: none;
  color: white;
}
